@{
    ViewData["Title"] = "Receitas e Despesas";
}

<div class="text-center">
    <h1 class="display-4">BEM-VINDO AO SISTEMA!</h1>
    <p>Mexa na contabil da Empresa ↑↑*®╚╚}-◄N♠`◘Ú♀#1§</p>

    <img src="~/img/png-transparent-lovely-smile-lovely-smile-thumbs-up-thumbnail-removebg-preview.png" />

</div>
